<div id="wrapper-footer">
	<div id="footer" class="not-clickable">
		<div id="footer-menu">
			<a href="#">О нас</a>
			<a href="gallery.php">Галерея</a>
			<a href="students.php">У нас учились</a>
			<a href="blog.php">Блог</a>
			<a href="partners.php">Партнеры</a>
			<a href="#">Контакты</a>
		</div>
		<div id="footer-copy">
			Все материалы, размещенные на сайте, являются интеллектуальной собственностью.<br>
			Копирование и распространение разрешено только со ссылкой на первоисточник!
		</div>
		<div id="footer-contacts">
			<p id="footer-contacts-phone"><img src="images/phone.png" alt=""><span>+7 (495) <strong>221 55 88</strong></span></p>
			<p id="footer-contacts-email"><img src="images/email.png" alt=""><span><strong>info@plusodin.info</strong></span></p>
		</div>
	</div>
</div>