<div id="wrapper-header">
	<div id="header" class="not-clickable">
		<div id="header-main">
			<a href="main.php" id="header-logo"></a>
			<div id="header-title">
				<h3>Центр обучения первой помощи</h3>
				<p>курсы и тренинги</p>
			</div>
			<div id="header-search">
				<p id="header-search-phone"><img src="images/phone.png" alt=""><span>+7 (495) <strong>221 55 88</strong></span></p>
				<form id="header-search-main" action="index.php" method="get">
					<input type="submit" value="">
					<input type="search" placeholder="поиск" maxlength="80" name="search">
				</form>
			</div>
		</div>
		<div id="header-menu">
			<a href="#"><img src="images/menu-about.png" alt=""><span>О НАС</span></a>
			<a href="students.php"><img src="images/menu-students.png" alt=""><span>У НАС УЧИЛИСЬ</span></a>
			<a href="gallery.php"><img src="images/menu-gallery.png" alt=""><span>ГАЛЕРЕЯ</span></a>
			<a href="blog.php"><img src="images/menu-blog.png" alt=""><span>БЛОГ</span></a>
			<a href="partners.php"><img src="images/menu-partners.png" alt=""><span>ПАРТНЕРЫ</span></a>
			<a href="#"><img src="images/menu-contacts.png" alt=""><span>КОНТАКТЫ</span></a>
		</div>
		<div id="header-navigation">
			<a href="#"><img src="images/navigation-drivers.jpg" alt=""><span><span>Водителям</span></span></a>
			<a href="#"><img src="images/navigation-parents.jpg" alt=""><span><span>Родителям</span></span></a>
			<a href="#"><img src="images/navigation-pedagogues.jpg" alt=""><span><span>Педагогам</span></span></a>
			<a href="travelers.php"><img src="images/navigation-travelers.jpg" alt=""><span><span>Путешественникам/экстремалам</span></span></a>
			<a href="#"><img src="images/navigation-organizations.jpg" alt=""><span><span>Организациям/юр. лицам</span></span></a>
		</div>
	</div>
</div>